.app {
	display: flex;
	flex-direction: column;
	background: blue;
	height: 500px;
}

.header {
	background: yellow;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.main {
	margin-top: 129px;
	position: relative;
}

.tree {
	background: orange;
	position: absolute;
	width: 200px;
	overflow: auto;
	height: 100%;
}

.container-title {
	position: fixed;
	z-index: 1;
	background: green;
	width: calc(100% - 224px);
	top: 134px;
}

.container-content {
	margin-top: 15px;
}

.container {
	background: green;
	margin-left: 200px;
	height: 400px;
	overflow: auto;
	width: calc(100% - 191px);
}
